*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.15em;	
  background-color: #ececec;
}
p{
  padding-bottom: 10px;
}
.container{
  max-width: 1920px;
  min-width: 1000px; 
  width: 80%;
  margin: 10px auto 10px auto;
  background-color: #ffffff;
}
.container header{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(102, 173, 214) ;
  
}
header h1{
  padding: 0px 20px; 
  font-family: Helvetica, sans-serif;
  font-size: 5em;
}
header img:logo{
  width: 20%;
  height: auto;
}
.navbar{
  width: 90%;
  padding: 15px 5%;
  margin: 0px auto 40px auto;
  text-align: center;
  background-color: rgb(243, 243, 243);
}
li{
  display: inline-block;
  margin: 0px 3px;
}
.navbar a{
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 25px;
  font-size: 150%;
}
.navbar a:hover, .navbar a.on{
  color: #3f8fc4;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 5px;
  padding: 10px;
  
}
.mainA{
  flex: 2 220px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: justify;
}
.mainA h1{
  font-size: 400%;
  margin-bottom: 20px;
}
.mainA img{
  float: left;
  margin-right: 20px;
  width: 40%;
  height: auto;
}
.mainB{
  flex: 2 ;
  margin: 40px 40px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}
.mainB img{
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 30%;
  height: auto;
}
footer{
  padding-top: 10px;
  text-align: center;
  background-color: rgb(243, 243, 243);
}

/*media queries iphone*/


@media only screen

  and (min-width: 375px)

  and (max-width: 812px) {
  .container{
    width: 100%;
    margin: 0px auto;
    min-width: 375px;
    max-width: 812px;
  }
  .navbar a{
    padding: 0px 10px;
  }

}